:root {
  --primary: #527dbf;
  --more-light-red: #e86812;
  --light-red: #ef6e35;
  --water-blue: #94cfd1;
  --light-green: #40cca6;
  --pink: #e52c8f;
  --btn-color: #58af1e;
  --fancy: #3c8e06;
  --red: #e90d33;
  --bright-red: #e26b6b;
  --brown: #bc6e14;
  --grey: #6b6565;
  --dark-grey: #707070;
  --black: #070707;
  --white: #ffffff;

  --mainFont: "Roboto", sans-serif;
  --logoFont: "Permanent Marker", cursive;
  --fancyFont: "Marck Script", cursive;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--white);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#logo {
  font-size: 3rem;
  font-family: var(--logoFont);
}

#nav-items-con {
  list-style: none;
}

#nav-items-con li {
  display: inline-block;
  padding: 0 0.8rem;
}

.nav-item {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
}

#nav-items-con li button {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background-color: var(--btn-color);
  cursor: pointer;
  color: var(--white);
  text-transform: uppercase;
}

#landing-page {
  width: 100%;
  min-height: 80vh;
  background-image: url(/images/landing.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  align-items: center;
}

#landing-page::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
}

#landing-contents {
  color: var(--white);
  width: 100%;
  min-height: 80vh;
  text-align: center;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #landing-page h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  width: 40%;
}

#landing-page h3 {
  font-size: 1.5rem;
  width: 60%;
}

#steps {
  display: flex;
  text-align: center;
  color: var(--white);
}

#steps-item {
  padding: 5rem 2rem;
}

.fas {
  font-size: 100px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

.step-txt {
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 0;
  font-weight: 300;
}

aside:first-child {
  background-color: #58d5c4;
}

aside:nth-child(2) {
  background-color: #2fab11;
}

aside:nth-child(3) {
  background-color: var(--light-red);
}

aside:last-child {
  background-color: var(--pink);
}
